[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MBAnalysis"]
	path = MBAnalysis
	url = https://github.com/cran/MBAnalysis
[submodule "MultANOVA"]
	path = MultANOVA
	url = https://github.com/cran/MultANOVA
